
::selection {
  color: white;
  background: #7FB241;
}

html{
  color: #555;
  font-family: "Comfortaa";
  scroll-behavior: smooth;
}

h1{
  color: #7FB241;
  font-size: 50px;
  line-height: 1px;
}

h2{
  color: #000;
  font-size: 20px;
  opacity: 60%;
}

.center{
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
}

.leaf_background{
  background-image: url("https://images.pexels.com/photos/1131458/pexels-photo-1131458.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}
.background{
  background-image: url("https://images.pexels.com/photos/1131458/pexels-photo-1131458.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  backdrop-filter: opacity(30%);

  z-index: -2;
  background-attachment:fixed;
}

.main{
  margin-left: 100px;
  padding: 20px;
  font-size: 20px;
}

/* ************************************************************************* */
/* Full Screen Navigation Bar */
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 30px;
  color: #fff;
  transition: 0.3s;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
/* ************************************************************************* */

/* ************************************************************************* */
/* The sidebar menu */
.icon-bar {
  width: 70px; /* Set a specific width */
  background-color: #555; /* Dark-grey background */
}

.icon-bar a {
  display: block; /* Make the links appear below each other instead of side-by-side */
  text-align: center; /* Center-align text */
  padding: 16px; /* Add some padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 36px; /* Increased font-size */
}

.icon-bar a:hover {
  background-color: #000; /* Add a hover color */
}

.active {
  background-color: #7FB241; /* Add an active/current color */
}

.sidenav {
  display: block;
  float: left;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  position: sticky; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px;
}


/* ************************************************************************* */

/* ************************************************************************* */
/* SEARCH BOX */
.search-container{
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 20px;
  display: block;
}

input[name=search] {
  padding: 12px;
  width: 72%;
  font-family: "Comfortaa";
  color: #000;
  border-width: thin;
  border-color: #7FB241;
}

button {
  width: 10%;
  padding: 12px;
  background: #7FB241;
  transition: all 0.3s ease;
  color: white;
  border: none;
  cursor: pointer;
  border: none;
}

button:hover {
  background: #000;
}
/* ************************************************************************* */


/* ************************************************************************* */
/* FLIP BOX */
.flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateX(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #555;
  color: white;
}

.flip-box-back {
  background-color: #7FB241;
  color: white;
  transform: rotateX(180deg);
}
/* ************************************************************************* */

/* ************************************************************************* */
/* TOGGLE SWITCH BUTTON */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #7FB241;
}

input:focus + .slider {
  box-shadow: 0 0 1px #7FB241;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* ************************************************************************* */


.pure-net-div{
  padding: 0.5%;
  padding-left: 1%;
}

.pure-net-span{
  text-transform: capitalize;
}

.pure-net-link{
  padding: 1%;
  background-color: #e5f9ff;
}
.pure-net-link a{
  text-decoration: none;
  color: #0088bb;
  cursor: crosshair;
}
.pure-net-link p{
  word-wrap: break-word;
  color: #888;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.pure-net-link button{
  background-color: transparent;
  padding: 3%;
  color: #0088bb;
}

.pure-net-link button:hover{
  background-color: white;
  padding: 5%;
  cursor: grab;
}

.pure-net-link img{
  margin: auto;
}

.template{
  display: none;
}

iframe{
  border: none;
  width: 100%;
  height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
}

footer{
  height: 100px;
}
