:root {
  /* Colors */
  --title-color: #1D1E18;
  --heading-color: #6B8F71;
  --subheading-color: #AAD2BA;
  --background-color: #D9FFF5;
  --highlight-color: #B9F5D8;
  --link-color: #004b6b;
  --extreme-green: #009345;
  /* refer: https://coolors.co/1d1e18-6b8f71-aad2ba-d9fff5-b9f5d8 */

  /* Fonts */
  font-family: 'Garamond', 'Georgia', serif;
  font-size: medium;
  line-height: 1.5;

  /* Border And Body */
  display: flex;
  flex-wrap: wrap;
  scroll-behavior: smooth;
}


::-webkit-scrollbar-track {

  background-color: var(--background-color);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--subheading-color);
}

@keyframes changing_bg_colors {
  0% {
    background-color: var(--heading-color);
  }

  50% {
    background-color: var(--subheading-color);
  }

  100% {
    background-color: var(--heading-color);
  }
}

::selection {
  color: var(--title-color);
  background: var(--highlight-color);
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

}

#main {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;

}

.side-bar {
  display: flex;
  position: sticky;
  flex-wrap: wrap;
  align-content: center;
  background-color: var(--heading-color);
  animation: changing_bg_colors 5s infinite linear;
  padding: 30px;
  width: 300px;
  height: calc(100vh - 60px);
}

.main-bar {
  overflow-y: auto;
}

#icon {
  padding: 0.5%;
  margin: auto;
  height: auto;
}

#icon svg {
  padding: 10px;
  width: 200px;
  height: 200px;
  margin: auto;
}

#button {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

#button a {
  text-decoration: none;
  outline: none;
}

#download-button {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 15px;
  font-size: large;
  width: 250px;
  border-radius: 10px;
  background-color: #fff;
  color: var(--heading-color);
  outline: none;
  border: var(--link-color) solid 1px;
}

#download-button:hover {
  background-color: var(--background-color);
}

.button-text {
  color: var(--link-color);
  border: none;
  width: 85%;
}
.button-text b{
  color: var(--heading-color);
}
.button-icon {
  color: var(--link-color);
  width: 15%;
}

.button-icon svg {
  height: 40px;
  width: 30px;
}

.instructions-container {
  height: calc(100vh - 60px);

  margin: 30px;
}


h1 {
  color: var(--heading-color);
  font-weight: normal;
  font-size: xx-large;
  border-bottom: dotted var(--heading-color) 2px;
}

h2 {
  color: var(--link-color);
  margin-top: 50px;
  font-weight: normal;
  font-size: x-large;

}

img{
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
